*{
    margin: 0;
    padding: 0;
}
.main{
    background: gray;
    width: 224px;
    height: 290px;
    margin: 0 auto;
    margin-top: 20px;
}
.textview{
    width: 220px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.button{
    width: 43px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    border-width: 0;
    outline-width: 0;
}
.button:active{
    font-size: 20px;
    color: white;
    background: #333;
}
input[value='+']{
    background: slateblue;
}
input[value='-']{
    background: red;
}
input[value='x']{
    background: green;
}
input[value='/']{
    background: red;
}
input[value='C']{
    background: violet;
}
input[value='<']{
    background: slateblue;
}
input[value='=']{
    background: violet;
}